<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="dataStorage"
          class="com.epam.bookingservice.dao.storage.DataStorage">
    </bean>

    <bean id="userDAO"
          class="com.epam.bookingservice.dao.impl.UserDAOImpl">
    </bean>

    <bean id="ticketDAO"
          class="com.epam.bookingservice.dao.impl.TicketDAOImpl">
    </bean>

    <bean id="userService"
          class="com.epam.bookingservice.service.impl.UserServiceImpl">
    </bean>

    <bean id="ticketService"
          class="com.epam.bookingservice.service.impl.TicketServiceImpl">
    </bean>

<!--    <bean id="eventService"-->
<!--          class="com.epam.bookingservice.service.impl.EventServiceImpl">-->
<!--    </bean>-->

<!--    <bean id="bookingFacade"-->
<!--          class="com.epam.bookingservice.facade.BookingFacadeImpl">-->
<!--        <constructor-arg ref="userService"/>-->
<!--        <constructor-arg ref="ticketService"/>-->
<!--        <constructor-arg ref="eventService"/>-->
<!--    </bean>-->

</beans>